terraform {
  required_providers {
    aws = {
      source = "hashicorp/aws"
      version = "5.0"
    }
  }

  backend "s3" {
    bucket = "{{ demo_terraform_s3_bucket }}"
    region = "{{ demo_terraform_aws_region }}"
    key    = "product-demos.tfstate"
  }
}

provider "aws" {
  region  = "{{ demo_terraform_aws_region }}"
}
